<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM Application Test Automation Suite">
	<listeners>
	<listener class-name="com.test.ohrm.extentReportListner.extentReportListnerTestNg"></listener>
	</listeners>
	
    <test name="Orange HRM App Test">
        <classes>
            <class name="com.test.ohrm.testcases.loginPageTest"></class>
             <class name="com.test.ohrm.testcases.homePageTest"></class>       
             <class name="com.test.ohrm.testcases.myInfoTest"></class>
        </classes>
    </test>
</suite>